
	
@font-face {
	font-family: 'pp_woodlandultralight';
	src: url('ppwoodland_ultralight-webfont.woff2') format('woff2'),
			url('ppwoodland_ultralight-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'arimoregular';
	src: url('arimo-regular-webfont.woff2') format('woff2'),
			url('arimo-regular-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;

}

header {
	position: relative;
	background-color: black;
	height: 75vh;
	min-height: 25rem;
	width: 100%;
	overflow: hidden;
  }
  
  header video {
	position: fixed;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
	z-index: 0;
  }
  
  header .container {
	position: relative;
	z-index: 2;
  }
  
  header .overlay {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	opacity: 0.5;
	z-index: 1;
  }

  .nav {
	font-size: 20px;
	position: relative;
    list-style-type: none;
    z-index: 2;
	justify-content: center;
	font-family: pp_woodlandultralight;
	margin-top: 25px;
	}

  .nav-home {
	margin-left: 15px;
	padding:0;
  }
  .nav .ul {
	display: inline-block;
	list-style-type: none;
	text-align: center;
	margin: 0 auto;
	}

	.nav-item {
		margin-left: 12px;
		margin-right: 12px;
	}
.currentLink {
	color: #86a5a8 !important;
}
a:link{
	color:#fff
	}
  a:visited{
	  color:#fff
  }

  a:active {
	color: #86a5a8;
}
  .fontwoodlandul {
font-family: pp_woodlandultralight;
}

  .second-phrase {
	font-family: arimoregular;
	font-size: 130px;
	color: #fff;
	text-align: center;
	text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff/*, 0 0 15px #ffffff, 0 0 20px #ffffff, 0 0 25px #ffffff, 0 0 30px #ffffff, 0 0 35px #ffffff */;
  }

  .test-glow {
	font-size: 160px;
	color: #fff;
	text-align: center;
	text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff/*, 0 0 15px #ffffff, 0 0 20px #ffffff, 0 0 25px #ffffff, 0 0 30px #ffffff, 0 0 35px #ffffff */;
}

.text-body {
	font-size: 20px;
	color:#fff;
	font-family: arimoregular;
}
#the-canvas {
	border: 1px solid black;
	direction: ltr;
  }

.sub-title {
	font-size: 35px;
	color:#ffffff;
	font-family: pp_woodlandultralight;
	margin-top: 45px;
	margin-bottom: 45px;
}

.pointer-effect:hover {
	cursor:pointer;
   }

   .backplane {
	background-color: black;
	}

	.title-glow {
		font-size: 77px;
		color: #ffffff;
		text-align: center;
		text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff/*, 0 0 15px #ffffff, 0 0 20px #ffffff, 0 0 25px #ffffff, 0 0 30px #ffffff, 0 0 35px #ffffff */;
	}

	.first-row {
		margin-top: 140px;
	}

	.video-row {
		margin-top: 100px;
		margin-bottom: 100px;
	}

	.last-row {
		margin-bottom: 100px;
	}

	.image-row {
		margin-top:100px;
		margin-bottom:100px
	}

	.nav-marg-b {
		margin-bottom: 150px;
	}

	.video-section {
		margin-top: 50px
	}

	.quote {
		font-style: italic;
		color: #ffffff;
	}

	.video-title {
		font-size: 28px;
		color: #ffffff;
		font-family: pp_woodlandultralight;
		margin-bottom: 70px;
	}

	.extra-padding {
		padding-right: 15px;
	}