
@font-face {
	font-family: 'modakregular';
    src: url('/fonts/modak/modak-regular-webfont.woff2') format('woff2'),
         url('/fonts/modak/modak-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }

header {
	position: relative;
	background-color: black;
	height: 75vh;
	min-height: 25rem;
	width: 100%;
	overflow: hidden;
  }
  
  header video {
	position: fixed;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
	z-index: 0;
  }
  
  header .container {
	position: relative;
	z-index: 2;
  }
  
  header .overlay {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	opacity: 0.5;
	z-index: 1;
  }

  header .nav {
	position: relative;
    list-style-type: none;
    z-index: 2;
	justify-content: center;
	font-family: myFirstFont;
	}
  
  .fontwoodlandul {
	font-family: modakregular;
  }
  header .nav .ul {
	display: inline-block;
	list-style-type: none;
	text-align: center;
	margin: 0 auto;
	}