
@font-face {
	font-family: 'pp_woodlandultralight';
    src: url('ppwoodland_ultralight-webfont.woff2') format('woff2'),
         url('ppwoodland_ultralight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }

header {
	position: relative;
	background-color: black;
	height: 75vh;
	min-height: 25rem;
	width: 100%;
	overflow: hidden;
  }
  
  header video {
	position: fixed;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
	z-index: 0;
  }
  
  header .container {
	position: relative;
	z-index: 2;
  }
  
  header .overlay {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	opacity: 0.5;
	z-index: 1;
  }

  .nav {
	font-size: 20px;
	position: relative;
    list-style-type: none;
    z-index: 2;
	justify-content: center;
	font-family: pp_woodlandultralight;
	margin-top: 25px;
	}

  .nav .ul {
	display: inline-block;
	list-style-type: none;
	text-align: center;
	margin: 0 auto;
	}

	.nav-item {
		margin-left: 12px;
		margin-right: 12px;
	}
  a:link{
	color:#fff
	}
  a:visited{
	  color:#fff
  }
  .fontwoodlandul {
font-family: pp_woodlandultralight;
}

  .test-glow {
	font-size: 160px;
	color: #fff;
	text-align: center;
	text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #ffffff, 0 0 20px #ffffff/*, 0 0 25px #ffffff, 0 0 30px #ffffff, 0 0 35px #ffffff */;
}

.text-body {
	color:#fff;
}
	  